
* {
  box-sizing:border-box;
  font-family: "Henry";
  background-color: #d9d9d9;
}

@font-face {
  font-family: Henry-italic;
  src: url(fonts/HenryTrial-Italic.otf);
  font-weight: italic;
  }

@font-face {
  font-family: Henry;
  src: url(fonts/HenryTrial-Regular.otf);
}

i {
  font-family: Henry-italic;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

h3, h2, h1 {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
}

.intro {
  font-size: 28px;
  line-height: 34px;
  width: 50%;
  text-align: justify;
  text-justify: auto;
  margin-left: 25%;
}

.thesis{
  font-size: 18px;
  line-height: 22px;
  width: 50%;
  text-align: justify;
  text-justify: auto;
  margin-left: 25%;
}

.caption {
  font-size: 14px;
  line-height: 16px;
}

img {
  max-width: 90%;
  max-height: 600px;
  text-align: center;
}
