
* {
  box-sizing:border-box;
  font-family: "Henry";
}

@font-face {
  font-family: Henry-italic;
  src: url(fonts/HenryTrial-Italic.otf);
  font-weight: italic;
  }

@font-face {
  font-family: Henry;
  src: url(fonts/HenryTrial-Regular.otf);
}

i {
  font-family: Henry-italic;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

h3, h2, h1 {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
}

#title {
  margin-top: 10%;
}

.header p {
  right: 10px;
  position: fixed;
  text-transform: capitalize;
  letter-spacing: 1px;
  top:10px;
}

.chapter-header {
  font-size: 14px;
  line-height: 16px;
  margin-left: -45%;
  position: sticky;
  text-transform: capitalize;
  letter-spacing: 1px;
  top:10px;
}

h2 {
    font-family: Henry-italic;
    text-transform: inherit;
    letter-spacing: inherit;
}

.intro {
  font-size: 28px;
  line-height: 34px;
  width: 50%;
  text-align: justify;
  text-justify: auto;
  margin-left: 25%;
}

.thesis{
  font-size: 18px;
  line-height: 22px;
  width: 50%;
  text-align: justify;
  text-justify: auto;
  margin-left: 25%;
  position: relative;

}

.note {
  width: 100px;
  font-size: 12px;
  line-height: 16px;
  stroke: solid 1px;
  text-align: left;
  display: inline-block;
  margin: 0;
}

.caption {
  font-size: 14px;
  line-height: 16px;
}

img {
  max-height: 600px;
  max-width: 100%;
  padding: 20px, 20px, 20px;
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}

img:hover {
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}

canvas {
  top: 20%;
  position: fixed;
  z-index: -1;
  filter: blur(20px) infinite; /* W3C */
-webkit-filter: blur(20px) infinite;
-webkit-animation: canvas_blur 20s infinite;
}


 @-webkit-keyframes canvas_blur {
  0% {
    -webkit-filter: blur(20px);
  }
  50% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(20px);
  }
}
